* {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

/* html {
  background-image: url('./imgs/otherBallon.jpg');
  background-repeat: no-repeat;
} */

nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

form>button {
    background-color: #26345B;
    color: white;
    transition-duration: 0.5s;
    border-radius: 0%;
    padding: 10px 0;
    width: 16vw;
    height: 55px;
}

form>button:hover {
    background-color: #b0c0ec;
    color: black;
}

.content {
    max-width: 1100px;
    margin: auto;
}

h1 {
    background-color: #26345B;
    color: white;
    text-align: center;
    padding: 10px;
}

h2 {
    text-align: center;
    font-size: 2rem;
}

.introPara {
    color: black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    height: 500px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('./imgs/roofBalloons.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

img {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    text-align: center;
    font-size: 1.5rem;
}

canvas {
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

.center {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#funcA, #funcB {
    width: 70px;
}

#theFunc {
    padding: 0 10px;
}

table {
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    border: 1px solid black;
    padding: 10px 20px;
}

ul {
    margin: 20px 0;
}

li {
    margin: 5px 0;
}

.row {
    display: flex;
}

.number-list {
    width: 400px;
}

.number-list>li {
    font-size: 2rem;
    margin-top: 30px;
    list-style-type: upper-roman;
}

.number-list>p {
    font-size: 1rem;
}